.profile__edit-button {
    background-image: url(../../../images/Edit_Button.svg);
    background-color: transparent;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 0.5em;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-image: url(../../../images/Edit_Button_18px.svg);
        bottom: 0.3em;
    }
}